h1 a, h2 a {
    color: #56100;
     font-family: 'Lobster';
}

body {
    padding-left: 10px;
}

.page-header{
  background-color: #C28900;
   margin-top: 0;
   margin-left: 0;
   margin-right: 0;
   padding:20px 10px 10px 10px;
  }
.date
{
  color: #9282;
  margin-left: 30;

}
